##########################
#### Main .inputrc File ####
##########################
# Author: Dylan Thomas

# [NOTE]: Sets common shell line editor settings/keybinds for bash

# Ensure vi editing style
set editing-mode vi

# Cycle through completions with Tab
TAB: menu-complete

# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

# - when performing completion in the middle of a word, do not insert characters
# from the completion that match characters after point in the word being
# completed
set skip-completed-text on

# Expands tilde to home
set expand-tilde on

# Set the history size
set history-size 5000
set history-preserve-point on

# Remove echoing CTRL + C
set echo-control-characters off

# Terminal bell turned off please
set bell-style off

# Briefly move cursor to matching paren when closing paren inserted
set blink-matching-paren on

# Show character for filetype based on stat(2) in completions
set visible-stats on

# Prevents weird stuff from happening
# $include /etc/inputrc
