# Local ignore for this repo!

# Ignore logging output files
*.out

# VIM specific things
*.netrwhist
*/vim/files/*
*/vim/autoload/*
*/vim/bundle/*

# Ignore vscode
.vscode/
!.vscode/settings.json

